@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root body {
  line-height: 1.5;
  font-weight: 400;
  font-family: 'Manrope', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
}

.hover_table:hover {
  background: rgba(255, 226, 236, 0.5);
}

.voucher_form_select input {
  padding-right: 0 !important;
  padding-left: 24px;
  padding-top: 24px;
}

.date_input {
  height: 68px;
  border-radius: 5px;
  background: #ffe7ef;
  padding: 8px 16px;
  width: 180px;
}

.date_input input {
  border: none;
  background: #ffe7ef;
}

input[type='date']::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

.mb-15 {
  margin-bottom: 15px;
}

.voucher_form input[type='text'] {
  border: 1px solid #b82c67 !important;
}

tbody tr td {
  text-align: start;
  border: none !important;
}

.attribute_input {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.attribute input[type='text']:focus {
  outline: none;
}

.badge {
  width: 314px;
}

.badge_child {
  background: #ffe7ef;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 14px;
  height: 36px;
  border-radius: 5px;
  margin-top: 8px;
}

.image_preview {
  background-repeat: no-repeat !important;
  background-size: contain !important;
}

.custom_select {
  padding: 0rem 0.5rem;
  margin-top: 0.5rem;
  border: none;
  border-radius: 5px;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  appearance: none !important;
}

.custom_select:focus {
  outline: none;
}

.category-form {
  display: grid;

  grid-gap: 20px;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #e7e6e6;
  border-bottom-color: #ffe7ef;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.header_list_voucher {
  .mantine-bkyer9 {
    margin-top: -12px;
    padding: 0px;
  }

  .mantine-nilrrg {
    margin-top: -12px;
    padding: 0px;
  }
}

.mantine-j3jbtx {
  top: 50%;
  transform: translate(0, -50%);
  height: fit-content;
}

.mantine-3wqyw5 {
  margin-left: 0;
}

.mantine-hclwis {
  margin-left: 12px;
}

.mantine-1v7s5f8 {
  font-weight: 500;
}

.mantine-17ts0d3 .mantine-bkyer9 {
  padding-left: 12px;
}

.mantine-j3jbtx {
  top: 50%;
  transform: translate(0, -50%);
  height: fit-content;
}

.mantine-1laou7w[data-active] {
  border-color: #b62a65;
}

thead td {
  padding: 0.4375rem 0.625rem;
}

tbody td {
  padding: 0.4375rem 0.625rem;
}

.list_order_admin .mantine-Table-root > thead > tr > th {
  font-weight: 600 !important;
  color: #970024 !important;
  border: none !important;
}

.custom-pagination .selected {
  font-size: 14px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #970024;
  color: white;
}

.custom-pagination li {
  color: #374151;
  font-weight: 500;
  padding: 0 4px;
  height: 20px;
  text-align: center;
}

.custom-pagination .previous,
.next {
  font-size: 12px;
  font-weight: 500;
  color: #374151;
}

.custom-pagination .disabled {
  cursor: none;
  color: #b3b3b3;
}

.mantine-86bg6z {
  min-width: 280px;
  width: fit-content;
  max-width: 350px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mantine-Notification-description {
  margin-top: 2px;
  font-size: 12px !important;
}

.thin-scroll::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
  height: 8px;
}

.thin-scroll::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(22, 24, 35, 0.06);
}

.thin-scroll::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: #eaeefb;
}

.mantine-InputWrapper-error {
  color: #d72525 !important;
}

.date-input-class {
  .mantine-Input-input {
    padding-right: 0 !important;
    padding-left: 6px;
    font-size: 12px;
    padding-bottom: 6px;
  }

  .mantine-Input-rightSection {
    pointer-events: none;
  }
}

.date-input-class-create {
  .mantine-Input-input {
    padding-right: 0 !important;
    padding-left: 6px;
    font-size: 12px;
  }

  .mantine-Input-rightSection {
    pointer-events: none;
  }
}

.input_select_status {
  .mantine-Input-input {
    margin-left: 6px;
    font-size: 12px;
    padding-bottom: 6px;
    padding-right: 0px;
  }

  .mantine-Select-rightSection {
    pointer-events: none;
  }
}

.input_select_status_create {
  .mantine-Input-input {
    margin-left: 6px;
    font-size: 12px;
    padding-right: 0px;
  }

  .mantine-Select-rightSection {
    pointer-events: none;
  }
}

.input_search {
  .mantine-Input-input {
    font-size: 12px;
    margin-top: 2px;
  }
}

button:focus {
  outline: none !important;
}

.mantine-InputWrapper-error {
  font-size: 10px !important;
}
